.container {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  padding: 2rem 3rem;
}

.left {
  flex: 1;
  padding: 10px;
}

.right {
  flex: 1;
}

.left .question {
  font-size: 175%;
  font-weight: bolder;
  position: relative;
  /* margin-bottom: 1rem; */
}

.left span {
  right: 10px;
  top: 100px;
}

.left {
  position: relative;
}
.answers .answerCard {
  padding: 10px;
  margin: 8px 0;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.answerCard .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.tag span {
  padding: 3px;
  background-color: lightgrey;
  color: rgb(104, 104, 248);
  font-weight: 300;
  font-size: 60%;
  border-radius: 3px;
  margin-right: 4px;
}

.percentBorder {
  border: 0.5px solid black;
  overflow: hidden;
  height: 9px;
  width: 100%;
  margin: 5px 0;
  background-color: rgb(0, 0, 244, 0.1);
}

.percentBorder .percent {
  background-color: rgb(249, 5, 5);
  width: 45%;
  height: 100%;
}

.voters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.votes {
  font-size: 75%;
  color: grey;
  font-weight: 550;
}

.pernums {
  font-size: 85%;
  font-weight: bold;
}

.form_container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 255, 0.1);
  box-shadow: 3px 3px 3px 3px lightblue;
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background-color: white;
  padding: 15px;
  /* align-items: flex-start; */
  /* width: 100%; */
}

.topRight {
  display: none;
}

.flex_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 75%;
}

.add,
.cancel {
  padding: 6px 15px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 550;
}

.add {
  background-color: rgb(11, 11, 252, 0.1);
}

.cancel {
  background-color: rgb(241, 7, 7, 0.1);
  color: red;
}
.addans {
  text-align: center;
  font-weight: 550;
  box-shadow: 2px 2px 2px 2px lightblue;
  padding: 9px 3px;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 1120px) {
  .percentBorder {
    /* width: 280px; */
    width: 100%;
  }
  .container {
    padding: 1.5rem 1rem;
  }
  .right {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .percentBorder {
    /* width: 280px; */
    width: 100%;
  }
  .container {
    padding: 1.5rem 0;
    padding-left: 0;
  }

  .answers .answerCard {
    padding: 10px;
    padding-right: 15px;
    margin: 7px;
    max-width: 560px;
  }

  .addans {
    padding: 10px;
    padding-right: 15px;
    margin: 12px 7px;
    max-width: 560px;
  }
  .topRight {
    display: block;
  }

  .left {
    padding-bottom: 3rem;
  }
  .right {
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: none;
  }
}

@media (max-width: 470px) {
  .percentBorder {
    /* width: 280px; */
    width: 90%;
  }

  .topRight {
    display: block;
  }
  .right {
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: none;
  }

  .answers .answerCard {
    padding: 10px;
    padding-right: 15px;
    margin: 7px 5px;
    max-width: 560px;
  }

  .addans {
    padding: 10px;
    padding-right: 15px;
    margin: 12px 5px;
    max-width: 560px;
  }
}
